body { padding-top: 50px;padding-bottom: 0; font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}

.gap {margin-left: 5px;}
.gapHorizontal {margin-bottom: 15px;}
.input-group-addon-format {border: 0; background-color: transparent;}
.diabtnfix {margin-top: 15px; text-align: right;}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 22px;
}
.pageInfo {
    margin-bottom: 7px;
}
.dl-horizontal dt {
    width: 115px;
    margin-bottom: 5px;
}
.dl-horizontal dd {
    margin-left: 115px;
}
#indexLogo {
    font-size: 65px;
    font-weight: bold;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
#indexText {
    font-size: 15px;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
#indexVer {
    font-size: 15px;
    color: rgba(255,255,255,0.5);
}
#indexName {
    font-size: 40px;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
    color: rgb(255,243,123);
    background-color: #080808;
}
#groupSelect {
    padding-left: 0;
}
#settingTwo { margin-top:15px; }
.searchPanel { padding-right: 0; }
.fix-top-2 {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1029;
}
#indexHead .panel-heading {
    padding: 40px 15px;
}
.circlePic {
    height: 14px;
    margin-bottom: 5px;
}
.zero-padding {
    padding: 0px;
}
.boxModel {
    padding: 5px;
    border:1px solid #428bca;
    border-radius: 5px;
    width:260px;
    height: 200px;
}
.boxViewHead {
    margin-bottom: 5px;
}
.fix-top-2-tablelist-default { padding-top: 60px; }
.fix-top-2-tablelist-index { padding-top: 140px; }
.fix-top-2-tablelist-box { padding-top: 110px; }
.caption .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}
.thead-color {background-color: #428bca;color: #eeeeee;}
.displayName{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;display:block; margin:0; padding: 0;  }
.displayName-parent{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;display:block; }

.fixed-width{width: 1280px;}
.curpointer{cursor: pointer; }

/*tree start*/
.node_img {display: inline-block;  position: relative; z-index: 2; top:-2px;}
.tree_select_item { background-color:#f0ad4e; }
.tree_hover_item { background-color:#cf9; }
.tree_item { height: 25px; position: absolute;  width: 5000px; margin-left: -2500px; top:0px;  z-index: 0; opacity: 0.3; }

.sp-minus{display: inline-block; width: 15px;height: 15px;background: url("/images/gbvision.gif") no-repeat scroll -45px -203px ; position: relative; z-index: 2;top:2px;cursor: pointer; }
.sp-plus{display: inline-block; width: 15px;height: 15px;background: url("/images/gbvision.gif") no-repeat scroll -45px -180px ; position: relative; z-index: 2;top:2px;cursor: pointer;}
.sp-blank{display: inline-block; width: 15px;height: 15px;}

.tree_item_text{color: #000000; position: relative; height: 25px; line-height: 25px; }
.tree_item_text:link {color: #000000; text-decoration: none}
.tree_item_text:visited {color: #000000; text-decoration: none}
.tree_item_text:hover { color: #000000;text-decoration: none}
.tree_item_text:active { color: #000000;text-decoration: none}
.tree_item_oper { width: 30px; height: 30px;cursor:pointer; margin-right:10px}
.tree_top {height:50px;background:#428BCA; line-height: 50px; padding-left: 30px;}
/*tree end*/

/*Boxes*/
.offline {display: inline-block; width: 30px;height: 26px;background: url("/images/offline.png") no-repeat; }
.online {display: inline-block; width: 30px;height: 26px;background: url("/images/online.png") no-repeat; }
.screenOff  {display: inline-block; width: 30px;height: 26px;background: url("/images/screenOff.png") no-repeat; }
.screenOn  {display: inline-block; width: 30px;height: 26px;background: url("/images/screenOn.png") no-repeat; }
#deleteGroups {margin-bottom: 7px;}
#createUserModal { background-color: #428bca;}
#loginPanel {
    width: 500px;
    -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);
    color: #333;
    border: 1px solid #08c;
    border-radius: 10px;
    text-decoration: none;
}
#loginLogo { color: #428bca; font-size: 52px; font-weight: bold; }
#loginPanel label { color: #428bca; }
#loginNav {
    font-size: 13px;
    color: #777777;
    text-decoration: none;
}
#loginNav:hover {
    color: #5e5e5e;
    background-color: transparent;
}
#mediaNav {
    margin-bottom: 0;
}


#boxSchedule .alert-info .dl-horizontal {
    margin-bottom: 0px;
}

.detailimageBox { height:245px; width:100%;  line-height:245px; text-align:center; vertical-align:middle; _display:line-block;  }
.detailimageBox i  { line-height:100% ; _display:line-block; vertical-align:middle; }
.detailimageBox img { vertical-align:middle;}

.spanAlignFiX {width: 100px;text-align: right;}

.gap {margin-left: 5px;}
.navbar-inverse .navbar-brand {color: #fff;font-size: 22px;}
.pageInfo {margin-bottom: 7px;}
.navbar-inverse .navbar-nav>li>a {color: #fff}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {color: rgb(255,243,123);background-color: #080808;}
.searchPanel { padding-right: 0; }
.fix-top-2 {position: fixed;right: 0;left: 0;z-index: 1029;}
.circlePic {height: 14px;margin-bottom: 5px;}
.fix-top-2-tablelist-default { padding-top: 60px; }
.thead-color {background-color: #428bca;color: #eeeeee;}
.fixed-width{width: 1280px;}
.fixed-height{height: 40px;line-height: 40px;}
.info-item { margin-bottom:10px;}
.cutstring {white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;  }
.redcolor { color:red;}

/*booking*/
.min-width-main {min-width: 1280px;}
.span-addon-width-format {width: 85px;text-align: right}
.meeting-number-fixed {padding-right: 0px;max-width: 220px;}
.cursor-pointer{cursor: pointer;}
.gap-right {margin-right: 5px;margin-top: 2px;}
.book-search {margin-top: 20px;}
.title-search {font-size: 18px;line-height: 1.5;}
.fix-top-book {position: fixed;right: 0;left: 0;z-index: 1029;top:51px;}
.fix-top-book-padding {padding-top: 185px;}
.fix-top-book-padding-day {position: fixed;top: 190px;width: 100%;z-index:1029;opacity: 0.8}
.book-room-day {max-width: 280px;}
.mainTimes {position: relative;height: 30px;border-bottom: 1px solid #808080;border-top:0px;z-index: 5;padding: 0 ;padding-top: 15px;width: 1056px;}
/*.mainTimesOdd {position: relative;border-bottom: 1px solid #000000;height: 40px;background-color: #99FFFF;width: 1056px;padding: 0 ;}*/
/*.roomRow :nth-child(odd) {position: relative;border-bottom: 1px solid #000000;height: 40px;background-color: #99FFFF;width: 1056px;padding: 0 ;}*/
.roomRow:nth-child(odd) .roomRowChild{position: relative;border-bottom: 1px solid #000000;height: 40px;background-color: #99FFFF;width: 1056px;padding: 0 ;}
/*.mainTimesEven {position: relative;border-bottom: 1px solid #000000;height: 40px;background-color: #ffffff;width: 1056px;padding: 0 ;}*/
.roomRow:nth-child(even) .roomRowChild{position: relative;border-bottom: 1px solid #000000;height: 40px;background-color: #ffffff;width: 1056px;padding: 0 ;}

.scale-time-start {float: left;width:44px;height: 15px;border-left: 1px solid #808080;border-right: 1px solid #808080;z-index: 1}
.scale-time {float: left;width:44px;height: 15px;border-right: 1px solid #808080;z-index: 4}
/*.scale-time-start-item {float: left;width:44px;height: 40px;border-left: 1px solid #808080;border-right: 1px solid #808080}*/
.scale-time-start-item {float: left;width:43px;height: 40px;z-index: 4}
/*.scale-time-start-item:hover, .scale-time-start-item:focus{color: #333333;background-color: #ebebeb;border-color: #adadad;}*/
.scale-time-start-item:hover, .scale-time-start-item:focus{border: outset}
/*.scale-time-start-item:active{background-color: #adadad;border: inset}*/
.scale-time-start-item:active{border: inset}

.scale-time-start-item-line {float: left;width:1px;height: 40px;border-left: 1px solid #808080;z-index: 1000; position:absolute;}

/*.scale-time-item {float: left;width:44px;height: 40px;border-right: 1px solid #808080;z-index: 2}*/
.scale-time-item {float: left;width:44px;height: 40px;}
.scale-time-text {position: relative;top:-20px;font-size: 10px;}
/*.scale-time-item:hover, .scale-time-item:focus, .scale-time-item:active{color: #333333;background-color: #ebebeb;border-color: #adadad;}*/
.scale-time-item:hover, .scale-time-item:focus{border: outset}
.scale-time-item:active{border: inset}

.scale-time-item-line-0 {left:107px;width:1px;height: 100px;top:30px;border-left: 1px solid #808080; z-index: 3;position:absolute;}
.scale-time-item-line-1 {left:150px;width:1px;height: 100px;top:30px;border-left: 1px solid #808080; z-index: 3;position:absolute;}
.scale-time-item-line-2 {left:194px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-3 {left:238px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-4 {left:282px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-5 {left:326px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-6 {left:370px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-7 {left:414px;width:1px;height: 100px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-8 {left:458px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-9 {left:502px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-10 {left:546px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-11 {left:590px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-12 {left:634px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-13 {left:678px;width:1px;height: 100px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-14 {left:722px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-15 {left:766px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-16 {left:810px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-17 {left:854px;width:1px;height: 100px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-18 {left:898px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-19 {left:942px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-20 {left:986px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-21 {left:1030px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-22 {left:1074px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-23 {left:1118px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}
.scale-time-item-line-24 {left:1162px;width:1px;height: 40px;top:30px;border-left: 1px solid #808080;z-index: 3; position:absolute;}

.occupied {position: absolute;height: 40px; background-color: inherit;border-bottom: 1px solid #000000; }
.occupied-child {position: absolute; width:100%;height: 25px; top:7px;z-index: 4}
.isEnd {background-color:#CC0000;}
.notBegin {background-color:#99CC00;}
.hasBegin {background-color:#99CCFF;}
.isAudit {background-color:#CC6600;}

.occupied-1 {position: absolute;width:30%;height: 40px; left: 10%;background-color: inherit;border-bottom: 1px solid #000000; }
.occupied-1-child {position: absolute; width:100%;height: 25px; background-color:#CC0000;top:7px;z-index: 4}
.occupied-2 {position: absolute; width:20%;height: 40px;left: 45%;background-color: inherit;border-bottom: 1px solid #000000;}
.occupied-2-child  {position: absolute; width:100%;height: 25px; background-color:#99CC00;top:7px;z-index: 4}
.occupied-3 {position: absolute; width:20%;height: 40px; left: 70%;background-color: inherit;border-bottom: 1px solid #000000;}
.occupied-3-child  {position: absolute; width:100%;height: 25px;background-color:#99CCFF;top:7px;z-index: 4}

#equip .input-group{height: 51px}

.roomRow .popover.right {z-index: 1030}
.roomRow .dt {z-index: 1030}
.roomRow .dd {z-index: 1030}

.selectedTime {background-color: #000000}

/*book2*/
.mainTimes-ing {position: relative;height: 30px;border-bottom: 1px solid #808080;border-top:0px;z-index: 5;padding: 0 ;padding-top: 15px;width: 1056px;}
.scale-time-start-ing {float: left;width:44px;height: 15px;border-left: 1px solid #808080;border-right: 1px solid #808080}
.scale-time-ing {float: left;width:44px;height: 15px;border-right: 1px solid #808080;z-index: 2}

/*looking*/
.meeting-status-start {background-color:#99CC00 }
.meeting-status-ing {background-color:#99CCFF }
.meeting-status-end {background-color:#CC0000 }



/*layout*/
#headNav .badge {position: relative;top: -1px}

.child-nav { position: fixed; top: 50px; left: 0; background: #660066; width:100%; height: 50px; z-index:9999; display: none;}
.child-nav ul {width:800px; margin: 0 auto; height: 40px;}
.child-nav ul li { float:left; padding: 0; list-style: none; height: 40px; line-height: 50px; margin-right: 20px; }
.child-nav ul li a{ color: #ffffff; }
/*.navbar-inverse {margin-bottom: 0px;}*/



.fix-top-2 {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1029;
}
.thead-color {
    background-color: #428BCA;
    color: #EEEEEE;
}
.pageInfo {
    margin-bottom: 7px;
}
.circlePic{
    height: 14px;
    margin-bottom: 5px;
}
.curpointer {
    cursor: pointer;
}
.fixed-width {
    width: 1280px;
}
.fix-top-2-tablelist-default {
    padding-top: 60px;
}

/*组织start*/
.userModalBody .input-group { margin-bottom: 10px; width:100%; }
.userModalBody .input-group-addon { width: 85px; text-align: right; }
/*组织end*/